p {
    text-transform: none;
}

header {
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: #04AA60;
}

nav a:hover {
    color: #FFFFFF;
    background-color: #222222;
}

nav a {float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

footer a {
    text-decoration: none;
    color: black;
}
section {
    margin-left: 10px;
}

img {
    margin-left: 25px;
    filter: drop-shadow(20px 10px 5px cadetblue);
}